<td><%= hostname %></td>
<td><%= username %></td>
<td><%= private_key %></td>
<td><%= public_key %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
